In [3]:
#Importing pandas and matplolib
import pandas as pd
import matplotlib.pyplot as plt

#Reading cvs
netflix_df = pd.read_csv("netflix_data.csv")
netflix_df.sample(3)

,show_id,type,title,director,cast,country,date_added,release_year,duration,description,genre
7783,s7784,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,111,A scrappy but poor boy worms his way into a ty...,Dramas
779,s780,TV Show,Be-Be-Bears,NaN,"Nataliya Medvedeva, Polina Kutepova",Russia,"August 29, 2018",2018,1,"Bear buddies Bucky and Bjorn play games, go on...",Kids
1906,s1907,TV Show,Earth's Natural Wonders,NaN,Olivia Colman,United Kingdom,"March 1, 2017",2015,1,Earth's most sublime landscapes can also be th...,British TV

In [4]:
#Filtering data as movies from type
netflix_subset = netflix_df[netflix_df["type"] == "Movie"]
netflix_subset.sample(2)

,show_id,type,title,director,cast,country,date_added,release_year,duration,description,genre
6533,s6534,Movie,The King's Speech,Tom Hooper,"Colin Firth, Geoffrey Rush, Helena Bonham Cart...",United Kingdom,"June 2, 2018",2010,118,"In this biographical drama, Britain's King Geo...",Dramas
1852,s1853,Movie,Dragonheart: Battle for the Heartfire,Patrik Syversen,"Tom Rhys Harries, Jessamine-Bliss Bell, Patric...",United States,"June 13, 2017",2017,98,"When the king of Brittania dies, the dragon wh...",Action

In [5]:
#Filtering a new DataFrames
netflix_movies = netflix_subset[["title", "country", "genre", "release_year", "duration"]]
netflix_movies.sample(3)

                 title        country     genre  release_year  duration
5608  Sillu Karuppatti          India  Comedies          2019       133
601    Asphalt Burning         Norway    Action          2020       101
4469      Nightcrawler  United States    Dramas          2014       118